<template name="about">
{{#markdown}}
## About triage dashboard

______________________________
####Current Dashboard Sections
#####Requires Triage (queue==incoming OR (queue==support request AND owner==null) OR (triage stage = awaiting owner confirmation)

#####Triaged but Awaiting AND owner=Jason

#####DONE (awaiting weekly RESOLUTION)

#####Unowned AND Unresolved Support Requests

#####Owned yet Unresolved Support Requests

#####Unresolved Client Setup

#####Unowned and Unresolved from queue=dev AND created after 2015-01-01

___________________

Link to my other site: [RT Triage Dashboard][1]

[1]: http://support.healthycities.org/Dashboards/3661/Triage

{{/markdown}}
</template>

