<template name = "layout">
	<header>
		<div class="container">
			<h1>triage dashboard prototype</h1>
			<h3>A Meteor Single Page App</h3>
			<ul>
				<li>
					<a href="/">Home</a>
				</li>

				<li>
					<a href="/about">About</a>
				</li>

			</ul>
		</div>
	</header>

	<div class="container">
		<main>
		<!-- add a TEMPLATE INCLUSION HELPER for home.htmnl -->
		{{> about}}

		</main>
	</div>
</template>



<!--> this template will serve as the wrapper template for our blog layout.
To build the basic TEMPLATE, perform the following steps:

1. add the code for template name = "layout"
2. create the home paage template, which will later list all the blog posts.  
	Create this home page template in the same dir as layout
	Add the home.html code to that page.


-->




